body {
	margin:0px;
}
#top {
	height:70%;
}
#bottom {
	margin-bottom:50%;
}
#sky-left {
	text-align:center;
	position:absolute;
	width:20%;
	left:20%;
}
#sky-middle {
	text-align:center;
	position:absolute;
	width:20%;
	left:40%;
}
#sky-right {
	text-align:center;
	position:absolute;
	width:20%;
	left:60%;
}

#cloud {
	text-align: left;
	width:90%;
	margin:5%;
	border:1px solid black;
	margin-bottom:20px;
	padding:5px;
	vertical-align:middle;
}


#nocloud {
	margin-bottom:20px;
	height:300px;
}


#stack-left {
	background-color:blue;
	position:fixed;
	top:70%;
	width:20%;
	height:30%;
	left:20%;
	z-index:1;
	margin:5px;
}
#stack-middle {
	background-color:#EEEEEE;
	position:fixed;
	top:70%;
	width:20%;
	height:30%;
	left:40%;
	z-index:1;
	margin:5px;
}

#stack-right {
	background-color:red;
	position:fixed;	
	top:70%;
	width:20%;
	height:30%;
	left:60%;
	z-index:1;
	margin:5px;
}
#vote {
	text-align:center;
}

#left-vote {
	text-align:left;
	display:inline;
	padding-right:20px;
	padding-left:20px;
}

#middle-vote {
	text-align:center;
	display:inline;
	padding-left:20px;
	padding-right:20px;
}

#right-vote {
	text-align:right;
	display:inline;
	padding-left:20px;
	padding-right:20px;
}

